header .main-marq {
  position: relative;
  padding: 0;
}

header .main-marq:after {
  content: "";
  position: relative;
  width: 100%;
  height: 30%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(bottom, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
  background: -o-linear-gradient(bottom, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
  background: linear-gradient(to top, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
  pointer-events: none;
}

header .star1 {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 30px;
}

header .star2 {
  position: absolute;
  top: 40%;
  right: 30px;
  width: 30px;
}

header .star3 {
  position: absolute;
  bottom: 15%;
  left: 40%;
  width: 30px;
}

header .star4 {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 35px;
  height: 90px;
  border-radius: 30px;
  border: 1px solid #eee;
  opacity: .3;
}

.slide-vertical {
  overflow: hidden;
  width: 30%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slide-vertical.st2 {
  width: 40%;
}

.slide-vertical.st2 .img {
  display: block;
  width: 100%;
  height: 400px;
  border-radius: 100px;
}

.slide-vertical:hover .box {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.slide-vertical .box {
  position: relative;
  -webkit-animation: slide-vertical 50s linear infinite;
  animation: slide-vertical 50s linear infinite;
}

.slide-vertical .img {
  display: block;
  width: 100%;
  height: 300px;
  margin: 15px 0;
  border-radius: 50px;
  overflow: hidden;
}

.slide-vertical .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin: 2px;
}

@-webkit-keyframes slide-vertical {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slide-vertical {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.item-card {
  border-radius: 15px;
  margin: 10px;
  background: #272a37;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
}

.item-card .img {
  padding: 10px 10px 0;
  height: 220px;
  position: relative;
}

.item-card .img a {
  width: 100%;
  height: 100%;
}

.item-card .img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item-card .img .fav {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 10px 4px;
  border-radius: 5px;
  background: rgba(39, 42, 55, 0.84);
  font-size: 12px;
}

.item-card .img .fav .icon {
  font-size: 16px;
}

.item-card .img .fav .fcont {
  line-height: 1;
  position: relative;
  top: -3px;
  margin-left: 5px;
}

.item-card .img .clockdiv {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.item-card .img .clockdiv div {
  margin: 0 10px;
  width: 100%;
  position: relative;
}

.item-card .img .clockdiv div:after {
  content: ':';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item-card .img .clockdiv div:last-of-type:after {
  display: none;
}

.item-card .cont {
  position: relative;
}

.item-card .cont .info {
  padding: 20px 20px 0;
}

.item-card .cont .authors-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-card .cont .authors-img div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}

.item-card .cont .authors-img div:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 50%;
  border: 3px solid #3a3e5f;
}

.item-card .cont .authors-img div.img2 {
  left: -10px;
}

.item-card .cont .authors-img div.img3 {
  left: -20px;
}

.item-card .cont .authors-img div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.item-card .cont .item-history a {
  text-decoration: underline;
}

.item-card .cont .eth .icon {
  width: 15px;
  margin-right: 5px;
}

.item-card .botm {
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(162, 175, 200, 0.16);
}

.item-card .botm .bid a {
  font-size: 13px;
  padding: 7px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.item-card .botm .bid a:hover {
  background: #FEA013;
  color: white;
  border-color: #FEA013;
  cursor: pointer;
}

.ml-auto {
  margin-left: auto;
}

.tab-links .item-link span {
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.02);
  border-radius: 30px;
  margin-right: 10px;
  transition: all .4s;
  backdrop-filter: blur(1px);
  cursor: pointer;
}

.tab-links .item-link span i {
  margin-right: 10px;
}

.tab-links .item-link span :hover {
  background: #fff;
  color: #05092b;
}

.tab-links .item-link .current span {
  background: #fff;
  color: #05092b;
}

.tab-content {
  display: none;
}

.tab-content .current {
  display: block;
}